@using System

<strong>Saluton Mondo! </strong>
@if(Name != null) {
    <span> Hi @Name. Today is @DateTime.Now.ToLongDateString() </span>
}

@code {
    [Parameter]
    public String Name { get; set; }
}